.root {
  grid-area: skills-summary;
}

.list {
  color: var(--text-secondary-color);
  padding: 0;
  display: grid;
  gap: 1rem;
  font-size: 0.9375rem;
  strong {
    color: var(--text-primary-color);
  }
}
