.root {
  box-shadow: var(--box-shadow);
  background-color: var(--box-background);
  padding: 1rem;
  border-radius: 2px;
}

.title {
  font-size: 1.125rem;
  margin: 0;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--text-secondary-color);
    display: block;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
  }
}
