.root {
  grid-area: key-skills;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.25rem;
  font-size: 0.875rem;
  color: var(--text-secondary-color);
  li {
    &::before {
      content: '- ';
    }
  }
}
